<!doctype html>
<html lang="en" ng-app="formExample">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
         content must come *after* these tags -->
    
    <title>upcoming Form</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
<br />
<div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form" ng-controller="MyCtrl2">
                    <!-- Form -->
                    <form id="contact-us" name="form" ng-submit="sendUpcoming()" novalidate>
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Event Name" ng-model="upcoming.eventName" />
                            <!-- Email -->
                            <input type="text" name="sem" id="sem" required="required" class="form" placeholder="Organiser" ng-model="upcoming.organiser" />
                            <!-- Subject -->
                            <input type="date" name="group" id="group" required="required" class="form" placeholder="Event Date" ng-model="upcoming.eventDate" />
                            <input type="number" name="subject" id="subject" required="required" class="form" placeholder="Registration Fees" ng-model="upcoming.regisFee" />
                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                            <!-- Message -->
                            
                            <!-- Email -->
                            <input type="number" name="marks" id="marks" required="required" class="form" placeholder="Organiser Phone Number" ng-model="upcoming.organiserNumber" />
        
                            <input type="text" name="last" id="last" required="required" class="form" placeholder="Organiser Email ID" ng-model="upcoming.organiserEmail" />
                            <!-- Email -->
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Society" ng-model="upcoming.society" />
                            <label>Upload Image</label>
                            <input type="file" id="file-input"/>
                            <p ng-show="show">Uploading...</p>
                            <p ng-show="done">Done...</p>
                        </div><!-- End Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="submit" id="submit" name="submit" class="form-btn semibold" ng-disabled="check">Send upcoming</button> 
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> Your upcoming has been delivered.
                        </div>
                    </div>

                </div><!-- End Contact Form Area -->
 </div><!-- End Inner -->
<script src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>